<!-- templates/404.html -->
{% extends "layouts/base.html" %}

{% block title %}{{ status_code }} Error{% endblock %}

{% block content %}
<div class="page-404">
  <div class="error">{{ status_code }}</div>
  <div class="message">{{ message }}</div>
  <button class="p-button p-component" onclick="goHome()">
      <span class="p-button-icon pi pi-home"></span>
      <span class="p-button-label">На главную</span>
  </button>
</div>

<script>
  function goHome() {
      window.location.href = '/';
  }
</script>
{% endblock %}

