<!-- templates/preview.html -->
{% extends "layouts/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="login-page">
  <div class="full-screen align-center">
    <div class="container">
      <h1 class="animated-text">
        <span id="typed"></span>
      </h1>
    </div>
  </div>
  <script src="/static/js/typed.umd.js"></script>
  <script>
    // typed.js
    document.addEventListener('DOMContentLoaded', function () {
      new Typed('#typed', {
        strings: ["{{ title }}"],
        typeSpeed: 50,
        backSpeed: 50,
        backDelay: 1500,
        loop: true
      });
    });

  </script>
</div>
{% endblock %}