html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
.logo {
  display: inline-flex;
  align-items: center;
}
.logo img {
  max-width: 48px;
}
.site-title {
  margin-left: 15px;
}
.page-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.page-404  .error {
  font-size: 10vw;
  font-weight: bold;
  animation: bounce 1s ;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}

.page-404  .p-button-icon {
  margin-right: 10px;
}
.p-button-label {
  font-weight: 500;
}
.home-page a {
  color: #007BFF;
  text-decoration: none;
}

.home-page a:hover {
  text-decoration: underline;
}
.message {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.full-screen {
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 100%;
}
.align-center {
  align-items: center;
  justify-content: center;
}


.swagger-ui .info {
  margin: 0;
  position: absolute;
  top: 1em;
}
